html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #e0f0ea;
    justify-items: center;
    text-align: center;
}


#Header {

                                                                  /*Adding a Shadow to the Header*/

        -webkit-text-stroke: 1px black;
         color: white;
         text-shadow:
               3px 3px 0 #000,
              -1px -1px 0 #000,  
              1px -1px 0 #000,
             -1px 1px 0 #000,
              1px 1px 0 #000;

    color: white;
    padding-top: 20%;
    font-size: 60px;
}

                                                                    /*Styling Navbar*/

.Navigation_bar {
    background-color: 	#95adbe;
    overflow: hidden;
}

.Navigation_bar .navigationBarElement {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
}

.navigationBarElement:hover {
    opacity: 40%;
    color: #ddd;
    color: black;
}

                                                                    /*Styling Footer*/

.Footer {
    font-size: 13px;
    float: left;
    bottom: 0;
    width: 100%;
    background-color: #1e2124;
    color: white;
}

#Contacts_Rights {
    margin: 20px;
    float: left;
}

#Describtion {
    
    padding: 30px;
    color: #ffffff;
    margin-bottom: 52%;
}


                                                                    /*Changing Logo Size*/

                    img {
                        text-decoration: none;
                        margin-right: 1%;
                        padding: 5px 8px;
                        float: right;
                        width: 40px;
                    }




#About {
    float: left;
}

                                                                    /*Adding Media Querries*/

@media only screen and (max-width: 1100px)  {

    .Navigation_bar .navigationBarElement {
        margin-left: 13px;
        font-size: 15px;
    }

    #Describtion {
        margin-bottom: 150%;
    }
    
}

@media only screen and (max-width: 600px) {

    .Navigation_bar .navigationBarElement {
        margin-left: 10px;
        font-size: 13px;
    }

    #Describtion {
        margin-bottom: 200%;
    }

    img {
        width: 30px;
      }
}

@media only screen and (max-width: 350px) {

    .Navigation_bar .navigationBarElement {
        margin-left: 0px;
        font-size: 10px;
    }

    #Describtion {
        margin-bottom: 250%;
    }

    img {
        width: 25px;
      }
}